body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background-image: url("./image/examen_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(3px);
}

.container {
    width: 90%;
    max-width: 450px;

    background: rgba(0, 0, 0, 0.65);
    padding: 25px;
    border-radius: 15px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}


.container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #00ff91;
    text-shadow: 0 0 8px #00ff91;
}


#serverIP {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;

    font-size: 16px;
    text-align: center;
}


#checkBtn {
    width: 100%;
    padding: 12px;
    background-color: #00c853;
    border: none;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;

    transition: 0.2s ease-in-out;
}

#checkBtn:hover {
    background-color: #00e676;
}

.result-box {
    margin-top: 20px;
    text-align: left;

    background: rgba(255, 255, 255, 0.10);
    padding: 15px;
    border-radius: 10px;
}

.result-box p {
    margin: 10px 0;
    font-size: 18px;
}